@page "/Overtime"
@inject OvertimeService Overtimeservice
@attribute [Authorize]
<h3 class="ui header blue">Overtime</h3>
<a class="ui button small primary" href="/Overtime/Record"><i class="add icon"></i>Record Overtime</a>

@if (allData == null)
{
    <LoadingSegment LoadingTitle="Retrieving Overtime Information" />
}
else if (allData.Count() < 1)
{
    <MessageSegement Header="No Records Found" MessageType="warning" Message="Oops! It looks like there are no Overtime Recorded yet" />
}
else
{
    <table class="ui table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Overtime Hrs</th>
                <th>Holiday</th>
                <th>Work Order</th>
                <th>Hourly Rate</th>
                <th>Total Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in allData)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>
                        @item.OvertimeHours <br />
                        <span style="font-size:9px;color:gray;">@item.OvertimeStart - @item.OvertimeEnd</span>
                    </td>
                    <td>@item.Holiday</td>
                    <td>@item.WorkOrderNo</td>
                    <td>@item.HourlyRate</td>
                    <td style="color:green;font-weight:bold">@string.Format("${0:N2}", item.TotalAmount)</td>
                    <td>
                        <a class="ui small label blue" href="/Overtime/Edit/@item.Id">View</a>
                        <div class="ui small label orange" style="cursor:pointer" @onclick="(()=>ConfirmDelete(item.Id))">Delete</div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}


@code{
    IEnumerable<Overtime> allData;

    protected override async Task OnInitializedAsync()
    {
        //Await
        allData = await Overtimeservice.GetAllAsync();
    }

    private async void ConfirmDelete(int departmentId)
    {
        try
        {
            bool jsConfirmed = await js.InvokeAsync<bool>("confirm", "Are you sure you want to Delete this Record ??");
            if (jsConfirmed)
            {
                await Overtimeservice.RemoveAsync(departmentId);
                allData = await Overtimeservice.GetAllAsync();
                StateHasChanged();
            }
        }
        catch (Exception)
        {
            await js.InvokeVoidAsync("alert", "An Error Occurred while deleting this Record");
        }

    }

}